FrontEnd
Intermediate
User
Session
Login
Logout
UpdateProfile
ChangePassword
ChangeAdress
CreateAccount
ShoppingCart
Pay
CreditCard
PSE
CashOnDelivery
Reports
Rating
Location
Sales
ReportByLocation
ReportByPeriod
SocialNetwork
Facebook
AdminMoneda
Dolar
Euro
Product
Search
ByPrice
ByDate
QualityAttributes
Configurability
Scalability
Functionality
