<!doctype html >
<html>
<head>
<title>MarkeTour</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
<script src="javascript/App.js"></script>
<script src="javascript/ProductCtrl.js"></script>

</head>
<body ng-app="MarkeTour">
	<div ng-controller="ProductCtrl">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Publicacion de Productos</h3>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Contenido</th>
							<th>Publicación</th>
							<th>Ubicación</th>
							<th>Valor</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input class="form-control" type="number"
								ng-model="product.id" ng-disabled="true"></td>
							<td><input class="form-control input-sm" type="text"
								ng-model="product.nombre" /></td>
							<td><input class="form-control input-sm" type="text"
								ng-model="product.descripcion" /></td>
							<td><input class="form-control input-sm" type="text"
								ng-model="product.contenido" /></td>
							<td><input class="form-control input-sm" type="date"
								ng-model="product.fechaPublicacion" /></td>
							<td><input class="form-control input-sm" type="text"
								ng-model="product.ubicacion" /></td>
							<td><input class="form-control input-sm" type="number"
								ng-model="product.valor" /></td>
							<td><a class="btn btn-success glyphicon glyphicon-ok"
								ng-click="Persist(product)"></a></td>
						</tr>
						<tr ng-repeat="product in allProducts | orderBy:'+id'">
							<td><span ng-if="!product.$edit">{{product.id}}</span>
								<div ng-if="product.$edit">
									<input class="form-control input-sm" type="number"
										ng-model="product.id" ng-disabled="true" />
								</div></td>
							<td><span ng-if="!product.$edit">{{product.nombre}}</span>
								<div ng-if="product.$edit">
									<input class="form-control input-sm" type="text"
										ng-model="product.nombre" />
								</div></td>
							<td><span ng-if="!product.$edit">{{product.descripcion}}</span>
								<div ng-if="product.$edit">
									<input class="form-control input-sm" type="text"
										ng-model="product.descripcion" />
								</div></td>
							<td><span ng-if="!product.$edit">{{product.contenido}}</span>
								<div ng-if="product.$edit">
									<input class="form-control input-sm" type="text"
										ng-model="product.contenido" />
								</div></td>
							<td><span ng-if="!product.$edit">{{product.fechaPublicacion}}</span>
								<div ng-if="product.$edit">
									<input class="form-control input-sm" type="date"
										ng-model="product.fechaPublicacion" />
								</div></td>
							<td><span ng-if="!product.$edit">{{product.ubicacion}}</span>
								<div ng-if="product.$edit">
									<input class="form-control input-sm" type="text"
										ng-model="product.ubicacion" />
								</div></td>
							<td><span ng-if="!product.$edit">{{product.valor}}</span>
								<div ng-if="product.$edit">
									<input class="form-control input-sm" type="text"
										ng-model="product.valor" />
								</div></td>
							<td><a ng-if="!product.$edit"
								class="btn btn-primary glyphicon glyphicon-edit input-sm"
								ng-click="product.$edit = true"></a> <a ng-if="product.$edit"
								class="btn btn-success glyphicon glyphicon-floppy-disk input-sm"
								ng-click="Persist(product);"></a> <a
								class="btn btn-danger glyphicon glyphicon-remove input-sm"
								ng-click="Delete(product.id);"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>